<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para abrir el menú lateral -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personas</ion-title>
    <ion-buttons slot="end">
      <ion-text>
        Total: {{ totalPeople }}
      </ion-text>
      <ion-input
        placeholder="Buscar"
        (ionInput)="onSearch($event)"
        clear-input
        style="max-width: 150px; border-radius: 4px; padding: 0 8px;"
      ></ion-input>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- Botón para abrir el menú lateral -->
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Personas</ion-title>
      <ion-buttons slot="end">
        <ion-text>
          Total: {{ totalPeople }}
        </ion-text>
        <ion-input
        placeholder="Buscar"
        (ionInput)="onSearch($event)"
        clear-input
        style="max-width: 150px; border-radius: 4px; padding: 0 8px;"
      ></ion-input>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let person of filteredPeople$ | async; let i = index" class="person-item">
      <ion-avatar slot="start">
        <img *ngIf="person.picture?.thumbnail" #avatar alt="Silhouette of a person's head" [src]="person.picture!.thumbnail" />
        <img *ngIf="!(person.picture?.thumbnail)" #avatar alt="Silhouette de una persona" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="ion-text-nowrap">
        {{person.name}} {{person.surname}} ({{person.age}} años)
      </ion-label>
      <ion-buttons>
        <ion-button fill="clear" slot="end" class="update-button" (click)="openPersonDetail(person, i)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" class="delete-button" (click)="onDeletePerson(person)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div #animatedAvatarContainer class="animated-avatar-container" [ngStyle]="{'display':isAnimating?'block':'none'}">
    <img #animatedAvatar [src]="selectedPerson?.picture?.large" alt="Foto de {{ selectedPerson?.name.first }}">
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onAddPerson()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
