<div id="popover-button" #popoverButton>
  <!-- Botón para activar el popover -->
  <div class="ion-justify-content-between ion-align-items-center">
    <div class="ion-justify-content-start ion-align-items-center">
      <ion-text *ngIf="!groupSelected && !disabled">Seleccione un grupo:</ion-text>
      <ion-text *ngIf="!groupSelected && disabled">Ninguno</ion-text>
      <ion-text *ngIf="groupSelected">{{ groupSelected.name }}</ion-text>
      <ion-icon name="chevron-down-outline" color="medium"></ion-icon>
    </div>
    <!-- Icono de apertura -->
  </div>

  <!-- Popover -->
  <ion-popover
    class="selectable-popover"
    trigger="popover-button"
    #popover
    (willPresent)="onLoadGroups()"
    *ngIf="!disabled">
    <ng-template>
      <ion-content class="popover-content">
        <!-- Barra de búsqueda -->
        <div class="fixed-search">
          <ion-item>
            <ion-input
              #search
              placeholder="Buscar"
              type="text"
              (ionInput)="onFilter($event)"
              debounce="200">
            </ion-input>
            <ion-button
              color="medium"
              slot="end"
              fill="clear"
              (click)="clearSearch(search)">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </div>

        <!-- Lista de grupos -->
        <div class="scrollable-content">
          <!-- Opción "Ninguno" -->
          <ion-item button (click)="deselect(popover)">
            <ion-text>Ninguno</ion-text>
          </ion-item>

          <!-- Grupos dinámicos -->
          <ion-item
            *ngFor="let group of groups$ | async"
            button
            (click)="onGroupClicked(popover, group)">
            <ion-text>{{ group.name }}</ion-text>
          </ion-item>

          <!-- Scroll infinito -->
          <ion-infinite-scroll (ionInfinite)="onMoreGroups($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>
